@use "colours";

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.main-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > section {
    border-radius: 5px;
    text-align: center;
  }
}

.home-logo {
  min-width: 540px;
  margin: 0 10px;
}

.main-top,
.main-bottom {
  padding: 10px 50px;
}

.main-top {
  background-color: colours.$base-green;
  border-radius: 5px 5px 0 0;
  color: white;
  & > img {
    height: 225px;
    width: 250px;
  }
}

.main-bottom {
  background-color: white;
  border-radius: 0 0 5px 5px;
  & > h4 {
    margin: 0;
    color: black
  }
}