@use "colours";

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.main-page-wrapper {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  & > section {
    border-radius: 5px;
    text-align: center;
    // margin-top: ;
    margin: 10% 10px;
  }
}

.main-top,
.main-bottom {
  padding: 10px 50px;
}

.main-top {
  background-color: colours.$base-green;
  border-radius: 5px 5px 0 0;
  color: white;
  & > img {
    height: 225px;
    width: 250px;
  }
  & > h1 {
    animation: bounce .4s ease 12 alternate;
  }
}

.main-top > img,
.main-bottom > h4,
.shop-title > h1,
.add,
.basket-card-title > * {
  animation: fade 1s ease forwards;
}

.main-bottom {
  background-color: white;
  border-radius: 0 0 5px 5px;
  & > h4 {
    margin: 0;
    color: black
  }
}