@use "colours";

.basket-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.basket-item-wrapper {
    margin: 10px 10px;
    border: 2px solid colours.$base-green;
    background-color: white;
    border-radius: 10px;
}

.basket-title {
    background-color: colours.$base-green;
    text-align: center;
    border-radius: 5px 5px 0 0;
    & > h3 {
        margin: 0;
        padding: 40px 0 5px 0;
        color: white;
    }
}

.basket-main {
    display: flex;
    justify-content: center;
}

.basket-main > img {
    max-height: 12em;
    max-width: 100%;
}