@use "app";
@use "basket";
@use "colours";
@use "fonts";
@use "form";
@use "sidebar";
@use "shop";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #eeeeee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: colours.$base-purple;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  background-color: colours.$base-green;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0;
  padding: 5px 20px;
  justify-self: flex-end;
  &:hover {
    cursor: pointer;
    background-color: colours.$base-green-hover;
  }
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
  padding: 0;
  margin: 0;
  color: white;
}

h1, h2 {
  font-family: "overlock", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  font-size: 2rem;
  color: #25ad62
}

h4 {
  font-size: 1.5rem;
}

h5 {
  margin: 5px;
}

li {
  list-style: none;
}

main {
  max-width: 1900px;
}

#root {
  display: grid;
  grid-template-columns: minmax(250px, 300px) 1fr;
  margin: 0 auto;
  height: 100vh;
}

.main-page-wrapper > section,
.product-wrapper,
.shop-title,
.sidebar,
.basket-wrapper > div,
.basket-total {
  box-shadow: 2px 2px 10px rgb(145, 145, 145);
}

@media only screen and (max-width: 1475px) {
  #root {
    display: flex;
    justify-content: center;
  }
}