@use "colours";
@use "fonts";

.page {
    flex: 1 auto;
}

.shop-title {
    background-color: colours.$base-green;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 0 0 5px 10px;
    & > h1 {
        padding: 20px;
    }
}

.error {
    height: 30em;
}

.loading-icon {
    height: 10em;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 20px;
    justify-content: center;
}

.product-wrapper {
    display: grid;
    grid-template-rows: 50px 12em 1fr 40px;
    justify-content: center;
    max-width: 300px;
    min-height: 300px;
    background-color: white;
    border: 2px solid colours.$base-green; 
    color: black;
    border-radius: 10px;
    padding: 10px;
}

.product-wrapper > h5 {
    justify-self: center;
}

.product-wrapper > img {
    justify-self: center;
    max-height: 12em;
    max-width: 100%;
}

.description {
    font-size: .8rem;
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin-bottom: 0;
}


.price-add-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

}

.price {
    justify-self: flex-start;
    padding: 5px 10px;
    margin: 5px;
    border: 2px solid rgb(219, 201, 35);
    border-radius: 5px;
    background-color: orange;
    font-weight: bold;
}

.add-wrapper {
    display: flex;
    justify-self: flex-end;
    margin: 0;
    padding: 0;
}

.quantity,
.add-wrapper > button {
    padding: 2.5px 5px;
    margin: 5px 0;
    font-size: 1rem;
    border: none;
}

.quantity {
    width: 2em;
    border-top: 1px solid colours.$base-green;
    border-bottom: 1px solid colours.$base-green;
    text-align: center;
}

#plus-btn,
#minus-btn {
    width: 2em;
}