@use "colours";

.sidebar {
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 2px 0 10px rgb(175, 175, 175);
    z-index: 9999;
}

.sidebar-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 3px solid colours.$base-purple;
    margin: 0 10px 0 10px;
    border-radius: 10px;;
    & > img:first-child {
        height: 4em;
        animation: rotate 6s linear infinite;
    }
    & > h2 {
        margin-bottom: 20px;
    }
}

.exit-btn,
.menu-btn {
    display: none;
    padding: 5px;
    border-radius: 10px;
    background-color: colours.$base-green;
    &:hover {
        cursor: pointer;
        background-color: rgba(149, 233, 132, 0.5);
    }
}

.exit-btn {
    align-self: flex-end;
    margin: 10px 10px 0 0;
    height: 1.5em;
}

.menu-btn {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 2em;
}

.sidebar-main {
    display: flex;
    justify-content: center;
}

.sidebar-main > nav > ol {
    padding: 5px 0;
    & > * > li {
        font-size: 1.4rem;
    }
}

.exit-btn:hover,
.main-btn:hover,
ol > *:hover {
    transition: background-color 350ms ease-in;
}

ol > * {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px;
    padding: 5px 50px;
    border-radius: 5px;
    &:hover {
        background-color: rgba(149, 233, 132, 0.5);
    }
}

ol > * > img {
    height: 1.5em;
}

@media only screen and (max-width: 1470px) {
    .sidebar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
    }

    .exit-btn,
    .menu-btn {
        display: block;
    }
}

@media only screen and (min-width: 1471px) {
    .sidebar {
        display: block !important;
    }
}